[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
pandas = "*"
numpy = "*"
tqdm = "*"
geopy = "*"
matplotlib = "*"
simplekml = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
proto = "protoc -I . --python_out=lib/proto --pyi_out=lib/proto apple-location-services.proto"
